.not-found-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin-top: 40px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .container {
        padding: 20px;
    }
}