*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.container{
  padding: 35px 180px;
  display: flex;
}

.igimage{
  padding-left: 100px;
}



.center {
  margin-left: 23px;
  margin-top: 15px;
  height: 472px;
  width: 350px ;
  border: 1px solid rgb(195, 195, 195);
  border-bottom: 1px solid rgb(255, 255, 255);;
  border-radius: 3px;
}
.header {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 17px;
}

.inputElement {
  display: flex;
  flex-direction: column;
  margin: 0px 37px 0px 37px;
}

.inputElement button:focus{
  outline: none;
}

.inputText {
  padding: 8px;
  font-size: 11px;
  margin-top: 10px;
}
.inputText:focus {
outline: rgb(231, 231, 231);
}

.inputButton {
  background-color: rgb(80, 186, 208);
  border: none;
  color: white;
  font-size: 13px;
  font-weight: bold;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 12px;
  margin-top: 12px;
  border: none;
}
.inputButton:hover{
  cursor: pointer;
  transition: 0.3s;
  background-color: rgb(53, 163, 185);
}


.line {
  display: flex;
  margin-top: 6px;
}
.arrow {
  background-color: rgb(222, 222, 222);
  height: 1px;
  width: 140px;
}
.content {
  font-size: 12px;
  font-weight: bold;
  color: gray;
  margin-top: -7px;
  margin-left: 20px;
  margin-right: 20px;
}
.social__icon {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 15px;
}
.fab {
  display: flex;
  padding: 5px;
  color: rgb(0, 55, 107);
}
.errmessage {
  color: rgb(206, 7, 7);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.forgetPassword {
  font-size:small;
  margin: auto;
  color: rgb(101, 178, 250);
  margin-bottom: 25px;
}
.footer {
  font-size: 13px;
  border: 1px solid rgb(195, 195, 195);
  padding: 20px;
  width: 100%;
  text-align: center;
}
.footer span {
  color: rgb(0, 66, 128);
  font-weight: 400;
}


@media screen and (max-width: 765px) {
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Stack elements vertically */
    padding: 20px; /* Reduce padding for mobile view */
}

.igimage {
    display: none; /* Hide the image */
}

.center {
    width: 100%; /* Take up full width */
    margin: auto;
    height: auto; /* Center the form */
    padding: 17px; /* Add some spacing */
    padding-bottom: 2px;
}
.footer {
    width: 100%; /* Take up full width */
    margin: auto; /* Center the footer */
    margin-top: 25px;
    text-align: center; /* Center text within the footer */
}
}

@media screen and (max-width: 1280px) {
  .container {
      padding-right: 100px; /* Remove padding on the right side */
  }
}